*.iml
*.log
*.log.*
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
assets/**/*.css
/coverage
yarn.lock
package-lock.json
.doc
.storybook

# umi
.umi
.umi-production
.umi-test
.env.local
.dumi/
